/* OVERALL LAYOUT */

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "SourceSans3", "SpinCycle", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; /*Prevent horizontal scroll bar from max-width from 100vw */
  background-color: beige;
  font-size: 20px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; /*This will inherit box-sizing from html/body */
}

/* @font-face {
  font-family: "SpinCycle";
  src: url("/headphones/fonts/spincycle_ot.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "SourceSan3";
  src: url("headphones/fonts/SourceSans3-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
} */

/*NAVIGATION BAR*/

header {
  padding: 20px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto; /* This center the nav */
  background-color: aquamarine;
}

.right-links > ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 400px;
  list-style: none;
}

.left-links > ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 200px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* MIDDLE SECTION */

.middle-text {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgreen;
  gap: 15px;
}

.btn {
  min-width: 180px;
  min-height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #ff6565;
  color: white;
  font-weight: 600;
  margin-top: 25px;
}

.middle-text h1 {
  font-size: 40px;
  font-weight: 600;
}

/*BOTTOM SECTION */

.bottom-text {
  max-width: 660px;
  min-height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin: 400px auto;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  background-color: lightgray;
}

/* IMAGE CONTAINER */

.image-container {
  position: relative; /*This will allow positioning of text overlay absolutely within */
  width: 100%;
  height: auto;
  overflow: hidden; /* This will ensure that the image does not overflow if adjusted */
}

.image-container .cover-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*This will make the text to take the width of the image 8? */
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.overlay-text main {
  flex-grow: 1; /*This will allow main to take up the remaing vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*OFFERED SECTION */

.offered-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.offered-paragraph {
  width: 800px;
  text-align: center;
  margin-top: 25px;
}

.offered-items {
  display: flex;
  margin: 0 50px;
  gap: 10px;
  justify-content: space-around;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  display: flex;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  align-items: center;
  max-width: 300px;
  text-align: center;
  min-height: 250px;
}

/* TESTIMONIALS SECTION */

.testimonials-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.testimonials-paragraph {
  width: 800px;
  text-align: center;
  margin-top: 25px;
}

.testimonials-items {
  display: flex;
  margin: 20px 50px;
  gap: 10px;
  justify-content: space-around;
}

.item--1,
.item--2,
.item--3,
.item--4 {
  display: flex;
  flex-direction: column;
  background-color: #ff6565;
  align-items: center;
  max-width: 300px;
  text-align: center;
  min-height: 150px;
  color: white;
}

.image-container_1 {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.image-container_1 .cover-image_1 {
  width: 100%;
  height: 75vh;
  display: block;
  object-fit: cover;
}

.overlay-text_1 {
  position: absolute;
  top: 0; /* Start at top of image */
  left: 0; /* Start at left of image */
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4); /* Optional overlay */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  padding: 2rem; /* Optional spacing */
  box-sizing: border-box;
}

.testimonials-section {
  max-width: 800px;
  text-align: center;
}

/*CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px;
  min-height: 50vh;
}

input {
  width: 400px;
  height: 50px;
  border: none;
  padding-left: 10px;
}

form {
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
}

.contacts {
  width: 200px;
}

.white-line {
  display: block; /* Make span behave like a block */
  width: 100%; /* Full width or customize */
  height: 2px; /* Thickness of the line */
  background-color: white;
  margin: 1px 0; /* Optional spacing */
}

/* FOOTER */

footer {
  padding: 20px;
  width: 100%;
  min-height: 30vh;
  background-color: #071629;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-between;
}

.footer {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  /* background-color: lightgreen; */
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  color: #495462;
  text-align: center;
  bottom: 0;
  font-size: 10px;
}

.social-links {
  display: flex;
  gap: 10px;
  font-size: 25px;
  height: fit-content;
}

.fa-brands {
  color: black;
  background-color: white;
}

.social-links > i {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #fff; /* White */
}
