/* OVERALL LAYOUT */

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Source Sans 3", sans-serif, "spin-cycle-ot";
  box-sizing: border-box;
  overflow-x: hidden; /*Prevent horizontal scroll bar from max-width from 100vw */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; /*This will inherit box-sizing from html/body */
}

/*NAVIGATION BAR*/

header {
  padding: 20px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto; /* This center the nav */
}

.right-links > ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 400px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/*MAIN SECTION */

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 60vh;
  width: 100%;
  text-align: center; /*This will center the text within the top section */
}

.top-section h1 {
  font-weight: 600;
  font-size: 100px;
}

.expression {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

button.register {
  min-width: 200px;
  min-height: 50px;
  border-radius: 30px;
  background-color: blueviolet;
  color: white;
}

.bottom-section h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
}

span.purple {
  color: blueviolet;
}

.profiles {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 0 100px;
  min-width: 1000px;
  margin-top: 150px;
}
.item-1,
.item-2,
.item-3,
.item-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.item-3 img {
  border-radius: 100%;
}

/* IMAGE COVER */

.image-container {
  position: relative; /*This will allow positioning of text overlay absolutely within */
  width: 100%;
  height: auto;
  overflow: hidden; /* This will ensure that the image does not overflow if adjusted */
}

.image-container .cover-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*This will make the text to take the width of the image 8? */
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.overlay-text main {
  flex-grow: 1; /*This will allow main to take up the remaing vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*TESTIMONIALS SECTION */

.testimonials {
  background-color: #c271ff;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testimonial-text {
  line-height: 30px;
  align-self: center;
  max-width: 550px;
  color: white;
  font-size: 20px;
}

/* TUTORIAL SECTION */

.tutorials h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 70px;
}

.tutorial-container {
  display: flex;
  gap: 15px;
  margin: 0 200px;
}
/*This will reduce Phillip's images */
.phillip {
  width: 10%;
  height: 10%;
}

.item--1,
.item--2,
.item--3,
.item--4 {
  background-color: aqua;
  line-height: 40px;
  max-width: 350px;
  padding: 15px;
}

.diagonal-smile,
.happy-smile,
.natural-smile,
.sad-smile {
  width: 100%;
}

.name-picture {
  display: flex;
  gap: 15px;
}

.tutorials {
  min-height: 70vh;
  background-color: lightskyblue;
  padding: 20px;
}

.rates {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.stars {
  display: flex;
  gap: 5px;
}

.name-picture h4,
.rates p {
  color: #c271ff;
}

.purple-star {
  color: #c271ff;
}

.grey-star {
  color: #afa1a1;
}

.tutorial-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the content */
}
