/* CSS reset rules */

html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(315deg, #add8e6 0%, #fffafa 74%);
}

/* APPLYING FLEXBOX PROPERTIES */

body {
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #add8e6;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
  border: 1px solid #555;
}

article {
  flex: 2;
  overflow-y: auto;
  border: 1px solid #555;
  min-height: 60vh;
}

aside {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #555;
  min-height: 60vh;
}

header {
  border: 1px solid #555;
  min-height: 20vh;
}

footer {
  border: 1px solid #555;
  min-height: 20vh;
}

.word {
  color: rgb(234, 6, 82);
}
p {
  padding: 20px;
  font-size: 20px;
}

/*Table*/

table {
  border: 1px solid #555;
  min-width: 300px;
  min-height: 150px;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  text-align: center;
  padding: 10px;
  border: 1px solid #555;
}

caption {
  margin-bottom: 15px;
}
tbody,
th {
  border: 1px solid #555;
}

th {
  font-weight: bold;
}

article > a {
  padding-left: 20px;
}
